header {
  margin-bottom: 30px;
}

div.device-display {
  width: 100%;
  display: none;
}

img#bluetooth {
  height: 200px;
  float: left;
  margin-right: 10px;
}

div#device-list, #searching {
  float: right;
  width: 70%;
  margin-right: 10px;
}

div#device-list {
  display: none;
}
