#findingDevice {
  display:none;
}

ul#devices {
  background: #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  list-style: none;
}

ul#devices li {
  font-size: 18px;
  padding-top: 3px;
  border-top: solid white 4px;
  border-bottom: solid white 2px;
  width: 100%;
}
